# Variable and Data Types <hr style="border:2.5px solid #126782"></hr>

Data Analyst: Jhea Faith S. Alcantara <br> Department: Electrical Engineering

In [40]:
apple =400
print(apple)

400

In [41]:
type(apple)

int

In [42]:
pie = 3.14
pie

3.14

In [43]:
type(pie)

float

In [44]:
grade = 'A'
grade

'A'

In [45]:
type(grade)

str

In [46]:
is_active = True
is_active

True

In [47]:
type(is_active)

bool

In [48]:
message = "Hello, World!"
message

'Hello, World!'

In [49]:
type(message)

str

# Data Structures
# List

In [50]:
fruits = ["apple", "orange", "grapes"]
fruits

['apple', 'orange', 'grapes']

In [51]:
type(fruits)

list

In [52]:
fruits[1]

'orange'

In [53]:
fruits[1] = "mango"

In [54]:
fruits

['apple', 'mango', 'grapes']

# Tuple

In [55]:
fruits = ("apple", "orange", "grapes")
fruits

('apple', 'orange', 'grapes')

In [56]:
type(fruits)

tuple

In [57]:
fruits[0]

'apple'

In [58]:
fruits[0] = "mango"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [ ]:
employee = {"name": "Ada",
            "age": 25,
            "city": "New York"}
employee

{'name': 'Ada', 'age': 25, 'city': 'New York'}

In [ ]:
type(employee)

dict

In [ ]:
employee["age"]

25

In [ ]:
employee["age"] = 30

In [ ]:
employee

{'name': 'Ada', 'age': 30, 'city': 'New York'}