# For Loop <hr style="border:2.5px solid #126782"></hr>

Data Analyst: Jhea Faith S. Alcantara <br> Department: Electrical Engineering

# Iterating Over a List

In [1]:
fruits = ["apple", "orange", "grapes"]

for i in fruits:
    print(i)

apple
orange
grapes

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [4]:
# start at 1, ends at 10 (exclusive), steps by 3
for j in range(1,10,3):
    print(j)

1
4
7

# Iterating Over a Dictionary

In [7]:
for char in "Sjey":
    print(char)

S
j
e
y

In [8]:
employee = {"name":"Jhea",
            "position":"Electrical Engineer",
            "Salary": 1000000}

for key in employee:
    print(key)

for value in employee.values():
    print(value)

name
position
Salary
Jhea
Electrical Engineer
1000000